puremagic
python-magic
androguard==3.4.0a1
rich
tqdm
colorama
oletools
pefile
pyaxmlparser
yara-python==3.11.0
prompt_toolkit==3.0.19
frida-tools
lief
pygore
qiling
pdfminer.six
requests
rarfile
acefile
Pillow
dpkt
pythonnet
pydnsbl
vivisect